html{
    width: 100%;    
    height: 100%;
    background-color:white;
    font-family: SourceSansPro-Regular;
    /* border:30px solid black;

    border-radius: 4em;
    box-shadow: 0em 0em 0em 8em black;

   
    outline: 8em solid black;
  */
  
}

h3{
    color:black;
}

.content{  
  width: 20%;
  height: 70%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color:white ;  
  text-align: center;
  padding: 10px;
  min-width:200px;height:auto;
   
}
.imglogo{
    background-image:url(/img/logooo.png);
    height:200px;
    max-width:200px;
    width: 200px;
    background-repeat:no-repeat; 
    background-size: contain;
    margin-left:auto;margin-right:auto;
}

.middle{  
    width: 20%;
    height: 70%;

    margin-left: auto;
    margin-right: auto;
    background-color:white ;  
    text-align: center;
  padding: 10px;
  min-width:200px;height:auto;
     
  }

  .pagename{
      width:100%;
      height:30px;
      text-align: center;
      background-color:#b1e7ff;
      font-size: 1.5em;
  }

  #accountname{
    color: black; text-shadow: black 0.1em 0.1em 0.9em;
    font-size: 14px;
    text-align: center;
    padding-bottom:10px;
}
#accountname:hover{
    color: black; text-shadow: black 0.1em 0.1em 0.5em;
    font-size: 14px;
    text-align: center;
    padding-bottom:10px;
}

#pichead{
    float:right;
    margin-top:20px;
    margin-right:10px;

}
#logohead{
    margin-left:10px;
    margin-top:20px;
    vertical-align:bottom;
    width:130px;
  }
  .tb{
    font-size: 1.3em;
  }


/* ipad */
  @media only screen and (max-width: 1200px) {

    .tb{
        font-size: 1.0em;
      }
    .pagename{
        width:100%;
        height:30px;
        text-align: center;
        background-color:#b1e7ff;
        font-size: 1em;
    }
    #accountname{
        color: black; text-shadow: black 0.1em 0.1em 0.9em;
        font-size: 14px;
        text-align: center;
        padding-bottom:10px;
    }
    #accountname:hover{
        color: black; text-shadow: black 0.1em 0.1em 0.5em;
        font-size: 14px;
        text-align: center;
        padding-bottom:10px;
    }
    #pichead{
      float:right;
      margin-top:20px;
      margin-right:10px;
      width:400px;
   
    }
    #logohead{
      margin-left:10px;
      margin-top:20px;
      vertical-align:bottom;
      width:150px;
    }
   
    }

    @media only screen and (max-width: 1000px) {
        .tb{
            font-size: 1.0em;
          }
        .pagename{
            width:100%;
            height:30px;
            text-align: center;
            background-color:#b1e7ff;
            font-size: 1em;
        }
        #accountname{
            color: black; text-shadow: black 0.1em 0.1em 0.9em;
            font-size: 14px;
            text-align: center;
            padding-bottom:10px;
        }
        #accountname:hover{
            color: black; text-shadow: black 0.1em 0.1em 0.5em;
            font-size: 14px;
            text-align: center;
            padding-bottom:10px;
        }
        #pichead{
          float:right;
          margin-top:20px;
          margin-right:10px;
          width:250px;
       
        }
        #logohead{
          margin-left:10px;
          margin-top:30px;
          vertical-align:bottom;
          width:100px;
        }
    
        }

  @media only screen and (max-width: 800px) {
    .tb{
        font-size: 1.0em;
      }
    .pagename{
        width:100%;
        height:30px;
        text-align: center;
        background-color:#b1e7ff;
        font-size: 1em;
    }

    #accountname{
        color: black; text-shadow: black 0.1em 0.1em 0.9em;
        font-size: 18px;;
        text-align: center;
        padding-bottom:10px;
    }
    #accountname:hover{
        color: black; text-shadow: black 0.1em 0.1em 0.5em;
        font-size: 18px;;
        text-align: center;
        padding-bottom:10px;
    }
    #btn_signout{
        font-size: 1.5em;
        padding:2px;
    }
    #pichead{
      float:right;
      margin-top:20px;
      margin-right:10px;
      width:250px;
   
    }
    #logohead{
      margin-left:10px;
      margin-top:30px;
      vertical-align:bottom;
      width:100px;
    }
  
    }
@media only screen and (max-width: 500px) {
    .tb{
        font-size: 1.0em;
      }
    .pagename{
        width:100%;
        height:30px;
        text-align: center;
        background-color:#b1e7ff;
        font-size: 1em;
    }
    #accountname{
        color: black; text-shadow: black 0.1em 0.1em 0.9em;
        font-size: 15px;
        text-align: center;
    }
    #accountname:hover{
        color: black; text-shadow: black 0.1em 0.1em 0.5em;
        font-size: 15px;
        text-align: center;
    }
    #btn_signout{
        font-size: 0.5em;
        padding:2px;
    }
  #pichead{
    float:right;
    margin-top:10px;
    margin-right:10px;
    width:130px;
 
  }
  #logohead{
    margin-left:10px;
    margin-top:10px;
    vertical-align:bottom;
    width:50px;
  }
  
    }
  
      
    
    @media only screen and (max-width: 375px) {
        .tb{
            font-size: 1.0em;
          }
        .btnEditDelete{
            font-size:0.4em;
        }
        body {
            font-size: 0.6em;
        }
        .pagename{
            width:100%;
            height:30px;
            text-align: center;
            background-color:#b1e7ff;
            font-size: 1.5em;
        }
        #accountname{
            color: black; text-shadow: black 0.1em 0.1em 0.9em;
            font-size: 13px;;
            text-align: center;
        }
        #accountname:hover{
            color: black; text-shadow: black 0.1em 0.1em 0.5em;
            font-size: 13px;;
            text-align: center;
        }
        #btn_signout{
            font-size: 0.9em;
            padding:2px;
        }
        #pichead{
          float:right;
          margin-top:10px;
          margin-right:10px;
          width:130px;
       
        }
        #logohead{
          margin-left:10px;
          margin-top:10px;
          vertical-align:bottom;
          width:50px;
        }
       
        }
      
        @media only screen and (max-width: 360px) {
            .tb{
                font-size: 1.0em;
              }

            .btnEditDelete{
                font-size: 0.3em;
            }
            body {
                font-size: 0.6em;
            }
            .pagename{
                width:100%;
                height:30px;
                text-align: center;
                background-color:#b1e7ff;
                font-size: 1.5em;
            }
            #accountname{
                color: black; text-shadow: black 0.1em 0.1em 0.9em;
                font-size: 12px;;
            }
            #accountname:hover{
                color: black; text-shadow: black 0.1em 0.1em 0.5em;
                font-size: 12px;;
            }
            #btn_signout{
                font-size: 0.8em;
                padding:2px;
            }
            #pichead{
              float:right;
              margin-top:10px;
              margin-right:10px;
              width:130px;
           
            }
            #logohead{
              margin-left:10px;
              margin-top:10px;
              vertical-align:bottom;

            }
    
            
            }
          @media only screen and (max-width: 320px) {
            .tb{
                font-size: 0.8em;
              }

            .btnEditDelete{
                font-size: 0.4em;
            }
            body {
                font-size: 0.4em;
            }

            
            .pagename{
                width:100%;
                height:30px;
                text-align: center;
                background-color:#b1e7ff;
                font-size: 1.5em;
            }
            #accountname{
                /* color:#16A085;  */
                font-size:10px;
                text-align: center;
                padding:3px;
                color: black; text-shadow: black 0.1em 0.1em 0.9em;
            }
            #accountname:hover{
                /* color:#16A085;  */
                font-size:10px;
                text-align: center;
                padding:3px;
                color: black; text-shadow: black 0.1em 0.1em 0.5em
            }
            #btn_signout{
                font-size: 0.5em;
                padding:2px;
            }
            #pichead{
              float:right;
              margin-top:10px;
              margin-right:10px;
              width:130px;
           
            }
            #logohead{
              margin-left:10px;
              margin-top:10px;
              vertical-align:bottom;
              width:50px;
            }
          
            }