doctype html
html
    head 
        title.fa.fa-user=title
        meta( name='viewport', content='width=device-width, initial-scale=1,shrink-to-fit=no' )
        link(href='/css/main.css', rel='stylesheet')
        //- link(href='/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
          link(rel='icon', type='image/png', href='images/icons/favicon.ico')
        link(href='/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='/css/all.css', rel='stylesheet') 
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/fonts/iconic/css/material-design-iconic-font.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/animate/animate.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/css-hamburgers/hamburgers.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/animsition/css/animsition.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/select2/select2.min.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/vendor/daterangepicker/daterangepicker.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/css/util.css')
        link(rel='stylesheet', type='text/css', href='Login_v9/css/main.css')

    body
       
        form(name='forgot',method='POST', action='/forgot')

            .container-login100(style="background-color:black;")
                    .wrap-login100.p-l-55.p-r-55.p-t-80.p-b-30
                        form.login100-form.validate-form
                        .text-center.p-t-57.p-b-20
                            h4(style="color:purple;") Forgot Password
                            br
                            span กรอก email เพื่อส่ง password 
                            br
                            span ไปที่ email ของท่าน
                        div.row   
                        .wrap-input100.validate-input.m-b-20(data-validate='Enter email')
                                input.input100(name='email', placeholder='email', type='email' )
                                span.focus-input100
                         
                            .container-login100-form-btn
                                input.login100-form-btn(type="submit" name="btn_forgot" value="submit" )
                            .text-center.p-t-57.p-b-20
                                span(style='color:red;')=messages
                            .text-center
                                a.txt2.hov1(href='/login') back to login
                        
                #dropDownSelect1



            script(src='Login_v9/vendor/jquery/jquery-3.2.1.min.js')
            script(src='Login_v9/vendor/animsition/js/animsition.min.js')
            script(src='Login_v9/vendor/bootstrap/js/popper.js')
            script(src='Login_v9/vendor/bootstrap/js/bootstrap.min.js')
            script(src='Login_v9/vendor/select2/select2.min.js')
            script(src='Login_v9/vendor/daterangepicker/moment.min.js')
            script(src='Login_v9/vendor/daterangepicker/daterangepicker.js')
            script(src='Login_v9/vendor/countdowntime/countdowntime.js')
            script(src='Login_v9/js/main.js')

        
        //- <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        //- <![endif]-->         


        //- .content          
           
        //-     .imglogo
        //-     br 
        //-     br  
       
        //-     .input-group.mb-3
        //-         .input-group-prepend
        //-             span.input-group-text.fa.fa-user
        //-         input.form-control(placeholder="username" name="txt_username" width="200px" , data-ng-model='credentials.username')

        //-     .input-group.mb-3
        //-         .input-group-prepend
        //-             span.input-group-text.fa.fa-key
        //-         input.form-control(placeholder="password" name="txt_password"  width="200px" , data-ng-model='credential.password')
        

        //-     input.btn.btn-primary.btn-block(type="submit" name="btn_login" value="เข้าสู่ระบบ" )
        //-     br 
        //-     br  
