doctype html
html
    head 
        title.fa.fa-user=title
        meta( name='viewport', content='width=device-width, initial-scale=1,shrink-to-fit=no' )
        link(href='/css/main.css', rel='stylesheet')
        link(href='/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='/css/all.css', rel='stylesheet') 
    body
 
        form(name='login',method='POST', action='/')
        .content          
           
            .imglogo
            br 
            br  
       
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text.fa.fa-user
                input.form-control(placeholder="username" name="txt_username" width="200px" , data-ng-model='credentials.username')

            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text.fa.fa-key
                input.form-control(placeholder="password" name="txt_password"  width="200px" , data-ng-model='credential.password')
        

            input.btn.btn-primary.btn-block(type="submit" name="btn_login" value="เข้าสู่ระบบ" )
            br 
            br  
