body
    div.row
        div.col-xs-2.col-sm-2.col-md-2.col-lg-2
            img(src="/img/logoooinside.png" id="logohead"  class="img-responsive" style="width:100%")  
        div.col-xs-6.col-sm-6.col-md-6.col-lg-6
        div.col-xs-4.col-sm-4.col-md-4.col-lg-4
            img(src="/img/head3test.png"  class="img-responsive" id="pichead")
        div.col-xs-7.col-sm-7.col-md-7.col-lg-7  
        div.col-xs-3.col-sm-3.col-md-3.col-lg-3
            form(name='logout' , method='post' , action='/search')
                    button.btn.btn-light.btn-sm#btn_signout(type='submit' style="float:right; margin-right:10px; margin-bottom:10px;")
                        i.fa.fa-sign-out sign out
        div.row
                span.col-xs-12.col-sm-12.col-md-12.col-lg-12(id="accountname")=fullname 
    div.navbar.navbar-default( role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar      
                    span.icon-bar   
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#templatemo-page1")
                            i.fa.fa-upload
                            span Upload
                    li
                        a(href="#templatemo-page2")
                            i.fa.fa-barcode
                            span Scan
                    li
                        a(href="#templatemo-page3")
                            i.fa.fa-eye
                            span View
                    li
                        a(href="/search")
                            i.fa.fa-search
                            span Search
                    li
                        a(href="/manageUser")
                            i.fa.fa-cog
                            span User
                    li
                        a(href="#templatemo-page5")
                            i.fa.fa-user
                            span(style="font-size:0.9em") My account
            //- div.image-section
            //-     div.image-container
            //-         img.main-img.inactive#templatemo-page1-img(src="templateInside/images/templatemo-bg-1.jpg"  alt="Home")
            //-         img.inactive#templatemo-page2-img(src="templateInside/images/templatemo-bg-2.jpg"  alt="Services")
            //-         img.inactive#templatemo-page3-img(src="templateInside/images/templatemo-bg-3.jpg"  alt="Awards")
            //-         img.inactive#templatemo-page4-img(src="templateInside/images/templatemo-bg-4.jpg"  alt="Company")
            //-         img.inactive#templatemo-page5-img(src="templateInside/images/templatemo-bg-5.jpg"  alt="Contact")
           
                           
               
                
               

//-   div.row
//-         div.col-xs-2.col-sm-2.col-md-2.col-lg-2
//-             img(src="/img/logoooinside.png" id="logohead"  class="img-responsive" style="width:100%")  
//-         div.col-xs-6.col-sm-6.col-md-6.col-lg-6
//-         div.col-xs-4.col-sm-4.col-md-4.col-lg-4
//-             img(src="/img/head3test.png"  class="img-responsive" id="pichead")
//-         div.col-xs-7.col-sm-7.col-md-7.col-lg-7  
//-         div.col-xs-3.col-sm-3.col-md-3.col-lg-3
//-             form(name='logout' , method='post' , action='/search')
//-                     input.btn.btn-light.btn-sm(type='submit' , value='Log out' style="float:right; margin-right:10px; margin-bottom:10px;") 
//-     div.row
//-         div.col-xs-8.col-sm-8.col-md-8.col-lg-8
//-         div.col-xs-4.col-sm-4.col-md-4.col-lg-4
//-             span.col-xs-12.col-sm-12.col-md-12.col-lg-12(id="accountname" style="text-align:right;")=fullname 
//-     div.row
//-         div.col-xs-2.col-sm-2.col-md-2.col-lg-2 
//-         div.col-xs-8.col-sm-8.col-md-8.col-lg-8(style="")
//-             div(class="divmenu" ) 
//-                 a.menuall(href="http://www.google.com/" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu1(class="img-responsive")
         
//-                 a.menuall(href="http://www.google.com/" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu2(class="img-responsive") 
     
//-                 a.menuall(href="http://www.google.com/" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu3(class="img-responsive")
        
//-                 a.menuall(href="http://www.google.com/" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu4(class="img-responsive")
           
//-                 a.menuall(href="/adduser" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu5(class="img-responsive")
           
//-                 a.menuall(href="http://www.google.com/" class="img-responsive" style="display:inline-block;float:left;")
//-                     span#menu6(class="img-responsive")
//-         div.col-xs-2.col-sm-2.col-md-2.col-lg-2